<div class="col-10 fill-width">
    <div class="row section-title">
        <div class="offset-1 col-6">
            <h1>Raporty</h1>
        </div>
    </div>
    <div class="row section-subtitle">
        <div class="offset-1 col-6">
            <h3>Analiza twoich zarobów w postaci graficznej</h3>
        </div>
    </div>
    <div class="row section-body">
        <div class="col-10 offset-1">
            <canvas id="canvas" style="height: 500px;"></canvas>
        </div>
    </div>
</div>