@using SolidSavings.Web.Components
@using SolidSavings.Web.Controllers
@using SolidSavings.Web.Models.Enums
@model SolidSavings.Web.Models.AddIncomeDto
@section navigation
{
    @await Component.InvokeAsync(typeof(NavigationViewComponent), new { state = ApplicationState.Report })
}
@section body
    {
    <div class="col-10 ">
        <div class="row section-title">
            <div class="offset-1 col-6">
                <h1>Raporty</h1>
            </div>
        </div>
        <div class="row section-subtitle">
            <div class="offset-1 col-6">
                <h3>Wybierz interesujący cię raport i kliknij zobacz.</h3>
            </div>
        </div>
        <div class="row section-body">
            <div class="col-10 offset-1">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top radar-raport-logo"
                             src="https://www.amcharts.com/wp-content/uploads/2013/12/demo_7398_light.jpg" />
                        <div class="card-body">
                            <h5 class="card-title">Liniowy diagram przychodów i kosztów</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Line"
                               asp-controller="Home"
                               class="btn btn-outline-link">zobacz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top radar-raport-logo"
                             src="https://www.amcharts.com/wp-content/uploads/2013/11/demo_129_light.jpg" />
                        <div class="card-body">
                            <h5 class="card-title">Wykres kołowy przychodów i kosztów</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Circle"
                               asp-controller="Home"
                               class="btn btn-outline-link">zobacz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top radar-raport-logo"
                             src="http://www.cs.middlebury.edu/~candrews/showcase/infovis_techniques_s16/radar_chart/chart.png" />
                        <div class="card-body">
                            <h5 class="card-title">Radar przychodów i kosztów</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Radar"
                               asp-controller="Home"
                               class="btn btn-outline-link">zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
