<div class="col-2" style="height: 100%; width: 100%;">
    <div class="row">
        <div class="row row-avatar">
            <span class="fa fa-dollar fa-4x avatar" style="color: gold"></span>
        </div>
    </div>
    <div class="row" style="width: 100%; position: fixed; bottom: 0">Jarosław Stadnicki 2018 (C)</div>
</div>